<!DOCTYPE html>
<html>
<head>
    <% include ../views/partials/head %>
</head>
<body>
<h1><%= title %></h1>
<p>This is <span class="colored-text"><%= title %></span>. Here you can perform several user management operations
    - <span class="colored-text"><%= operations[0] %>
        , <%= operations[1] %>, <%= operations[2] %></span> and <span class="colored-text"><%= operations[3] %></span>.
</p>
<% include ../views/partials/menu%>
</body>
</html>
